@{
    ViewData["Title"] = "Bienvenido a TuSistema";
}

<div class="text-center">
    <img src="/img/Logo.png" alt="Logo del Banco" class="img-fluid mb-3" style="max-width: 200px;" />

    <h1 class="display-4">¡Bienvenido al Gestor de Tarjetas!</h1>
    <p> Ve el estado de cuenta tus tarjetas, realiza pagos y compras.</p>

    <div class="mt-4">
        <a href="@Url.Action("Index", "Tarjeta")" class="btn btn-danger btn-lg">Ver Tarjetas</a>
    </div>
</div>


